/* CSS - Name: "SiteOne.css" */
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

#content {
  width: 75%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  cursor: default;
  font-family: 'Baloo Thambi', cursive;
  background-color: white;
}

span {
  color: #05668d;
}

#header-right {
  width: 225px;
  float: right;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

#header-left {

}

.logo {
  height: 75px;
}

#searchbox {

}

#search-button {
  font-family: 'Baloo Thambi', cursive;
  border: 2px solid #a5be00;
  background-color: #679436;
  color: #ebf2fa;
  border-radius: 8px;
  padding: 7px 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

#search-button:hover {
  border: 2px solid #427aa1;
  background-color: #05668d;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a5be00;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: #ebf2fa;
  text-align: center;
  padding: 14px 3vw;
  text-decoration: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

li a:hover {
  background-color: #679436;
}

.active {
  background-color: #427aa1;
}

.arrow {
  height: 10px;
}

#top {
  
}

#top-left {
  width: 62.5%;
}

#top-right {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 1px;
}

.animation {
  width: 33%;
  height: 33%;
  float: right;
}

footer {
  background-color: #05668d;
  color: #ebf2fa;
  margin-bottom: -10px;
  margin-left: -10px;
  margin-right: -10px;
  font-size: 10px;
}

.gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryOne {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryTwo {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.galleryThree {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 7;
}

.galleryFour {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
}

.galleryFive {
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 5;
}

.gallerySix {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallerySeven {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 7;
}