@font-face {
	font-family: "Curbai";
	src: url("../fonts/Curbai.woff") format("woff2"),
		url("../fonts/Curbai.woff2") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

.curbai-icon {
	font-family: "Curbai" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: inline-block;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: normal;
	margin-top: -4px;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	text-rendering: optimizeLegibility;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
	cursor: default;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a .curbai-icon,
button .curbai-icon,
w3-button .curbai-icon {
	cursor: pointer
}

/* .curbai-icon::before {
	content: "\1F349";
} */

footer .curbai-icon {
	font-size: 48px;
	line-height: 48px;
}
